// Calculates a = x*y
// a is a local variable
// x & y are static variables


// Put your code here.

label INIT
    // init a to 0
    push constant 0
    pop local 0

    // init counter to 0
    push constant 0
    pop temp 0

    push static 0
    push static 1
    lt
    if-goto X_SMALLER
    goto Y_SMALLER

label X_SMALLER
    push static 0
    pop temp 3
    push static 1
    pop temp 4

    push temp 3
    push constant 0
    lt
    if-goto FLIP_X_SMALLER
    goto CHECK_Y_BIGGER

label FLIP_X_SMALLER
    push temp 3
    neg
    pop temp 3

label CHECK_Y_BIGGER
    push temp 4
    push constant 0
    lt
    if-goto FLIP_Y_BIGGER
    goto CHECK_COUNTER

label FLIP_Y_BIGGER
    push temp 4
    neg
    pop temp 4
    goto CHECK_COUNTER
    

label Y_SMALLER
    push static 1
    pop temp 3
    push static 0
    pop temp 4
    
    push temp 3
    push constant 0
    lt
    if-goto FLIP_X_BIGGER
    goto CHECK_Y_SMALLER

label FLIP_X_BIGGER
    push temp 3
    neg
    pop temp 3

label CHECK_Y_SMALLER
    push temp 4
    push constant 0
    lt
    if-goto FLIP_Y_SMALLER
    goto CHECK_COUNTER

label FLIP_Y_SMALLER
    push temp 4
    neg
    pop temp 4
    goto CHECK_COUNTER


label CHECK_COUNTER
    // check if 
    push temp 0
    push temp 3
    lt
    if-goto ADD
    goto SIGN_FLIP

label ADD
    // add x to a
    push local 0
    push temp 4
    add
    pop local 0

    // increment counter by 1
    push constant 1
    push temp 0
    add
    pop temp 0
    goto CHECK_COUNTER


label SIGN_FLIP
    push temp 1
    push temp 2
    and
    if-goto END

    push temp 1
    push temp 2
    or
    if-goto ONE_NEGATIVE

    goto END
label ONE_NEGATIVE
    push local 0
    neg
    pop local 0
    
label END
    goto END