// Calculates y = |x|
// x & y are static variables

// Put your code here.
push static 0
push constant 0
lt
if-goto NEGATIVE

push static 0
pop static 1
goto END

label NEGATIVE
push static 0
neg
pop static 1

label END
goto END