// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.
function fib 1
    push argument 0
    push constant 2
    lt
    if-goto BASE

    push argument 0
    push constant 1
    sub
    call fib

    push argument 0
    push constant 2
    sub
    call fib

    add

label BASE
    push argument 0
    push constant 0
    eq
    if-goto RETURN_0

    push constant 1
    return

label RETURN_0
    push constant 0
    return