// CallTest02.vm
function CallTest02.function 2
push constant 300
pop local 0
push constant 400
pop local 1
push local 0
push local 1
add
call CallTest02.target 1
return

function CallTest02.target 0
push argument 0
return
